/* AuthenticatedHeaderTemplate */
.AuthenticatedHeaderTemplate {
  top: 0;
  position: sticky;
  background-color: var(--nlportal-header-background-color);
}

.AuthenticatedHeaderTemplate .AuthenticatedHeaderTemplate-inner {
  display: flex;
  justify-content: space-between;
  padding-block-start: var(--nlportal-space-block-xs);
  padding-block-end: var(--nlportal-space-block-xs);
  max-width: var(--nlportal-max-page-width);
  height: var(--nlportal-header-height-large);
  align-items: center;
}

.AuthenticatedHeaderTemplate
  .AuthenticatedHeaderTemplate-inner
  .AuthenticatedHeaderTemplate-inner-userManagement {
  display: flex;
  align-items: center;
}

.AuthenticatedHeaderTemplate
  .AuthenticatedHeaderTemplate-inner
  .AuthenticatedHeaderTemplate-inner-userManagement
  > .AuthenticatedHeaderTemplate-inner-username {
  margin-inline-end: var(--nlportal-space-inline-2xl);
}

.AuthenticatedHeaderTemplate
  .AuthenticatedHeaderTemplate-inner
  .AuthenticatedHeaderTemplate-inner-userManagement
  > button:not(:last-child) {
  margin-inline-end: var(--nlportal-space-inline-lg);
}
.AuthenticatedHeaderTemplate
  .AuthenticatedHeaderTemplate-inner
  .AuthenticatedHeaderTemplate-inner-mijnDenHaagLogo {
  max-width: var(--nlportal-header-max-logo-width);
  width: 100%;
  height: 100%;
}

/* UnauthenticatedHeaderTemplate */
.UnauthenticatedHeaderTemplate {
  align-items: center;
  justify-content: center;
}

.UnauthenticatedHeaderTemplate .UnauthenticatedHeaderTemplate-inner {
  display: flex;
  align-items: center;
}

.UnauthenticatedHeaderTemplate
  .UnauthenticatedHeaderTemplate-inner
  .UnauthenticatedHeaderTemplate-denHaagLogo {
  align-items: center;
  height: var(--conduction-unauthenticated-header-logo-height);
}

.Footer > .Footer-divider {
  height: var(--nlportal-header-facet-height);
}
