:root {
  --conduction-unauthenticated-header-logo-width: 200px;
  --conduction-footer-secondary-background-color: #edbf07;
  --conduction-footer-height: 115px;
  --conduction-authenticated-logo-background: url(../../assets/svgs/MijnDenHaag.svg);
  --conduction-unauthenticated-logo-background: url(../../assets/svgs/DenHaag.svg);
  --conduction-component-horizontal-image-card-block: 400px;
  --conduction-component-horizontal-image-card-icon-size: 80px;
}
