:root {
  --conduction-unauthenticated-header-logo-width: 200px;
  --conduction-footer-secondary-background-color: #edbf07;
  --conduction-footer-height: 115px;
  --conduction-authenticated-logo-background: url(../../assets/svgs/MijnDenHaag.svg);
  --conduction-unauthenticated-logo-background: url(../../assets/svgs/DenHaag.svg);
  --conduction-component-ImageAndDetailsCard-block-width: 18rem;
  --conduction-component-ImageAndDetailsCard-font-size: 0.9rem;
  --conduction-component-ImageAndDetailsCard-block-height: 10rem;
}
