:root {
  --denhaag-sidenav-link-active-color: #1260a1;

  --nlportal-max-page-width: 1024px;
  --nlportal-space-block-2xl: 2rem;
  --nlportal-footer-header-color: #dbecfa;
  --nlportal-footer-background-color: #094b81;
  --nlportal-footer-link-color: #f2f2f2;
}
