:root {
  --denhaag-sidenav-link-active-color: #1260a1;
  --utrecht-heading-2-color: #1260a1;

  --nlportal-max-page-width: 1024px;
  --nlportal-space-block-2xl: 2rem;
  --nlportal-space-block-xs: 0.5rem;
  --nlportal-space-inline-lg: 1.5rem;
  --nlportal-space-inline-2xl: 2rem;
  --nlportal-footer-header-color: #dbecfa;
  --nlportal-footer-background-color: #094b81;
  --nlportal-footer-link-color: #f2f2f2;
  --nlportal-header-background-color: #ffffff;
  --nlportal-header-max-logo-width: 150px;
  --nlportal-header-height-large: 85px;
}
