.container {
  margin-block-start: var(--nlportal-space-block-4xl);
  cursor: pointer;
}

.container > *:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-4xl);
}

.container > .loginCards {
  display: grid;
  grid-gap: var(--nlportal-space-inline-xl);
  grid-template-columns: 1fr 1fr;
}

.container > .loginCards > .card {
  background-color: var(--denhaag-color-grey-2);
}
