.DashboardTemplate {
  display: flex;
  padding-block-start: var(--nlportal-space-block-5xl, 4rem);
}

.DashboardTemplate > .DashboardTemplate-menu {
  flex: 3;
  margin-inline-end: var(--denhaag-space-inline-2xl);
}

.DashboardTemplate > .DashboardTemplate-content {
  flex: 9;
}
