.container {
  margin-block-start: var(--nlportal-space-block-4xl);
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: var(--denhaag-menu-button-active-font-weight);
  font-size: var(--denhaag-typography-scale-lg-font-size);
}

.date {
  color: var(--denhaag-color-grey-3);
  font-size: var(--denhaag-unordered-list-marker-font-size);
}

.introduction {
  margin-top: var(--denhaag-space-block-md);
  margin-bottom: var(--denhaag-space-block-md);
  font-size: var(--denhaag-typography-scale-s-font-size);
}

.link {
  display: flex;
  justify-content: flex-end;
}
