.container {
  width: var(--conduction-component-ImageAndDetailsCard-block-width);
  border: var(--nlportal-document-border, 1px solid);
}

.context {
  border-radius: var(--nlportal-document-border-radius);
  padding: var(--nlportal-space-inline-md);
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: var(--conduction-component-ImageAndDetailsCard-font-weight);
}

.date {
  color: var(--denhaag-color-grey-3);
  font-size: var(--conduction-component-ImageAndDetailsCard-font-size-date);
}

.introduction {
  margin-top: var(--denhaag-space-block-md);
  margin-bottom: var(--denhaag-space-block-md);
  font-size: var(--conduction-component-ImageAndDetailsCard-font-size);
}

.link {
  display: flex;
  justify-content: flex-end;
}

.image > :first-child {
  width: var(--conduction-component-ImageAndDetailsCard-block-width);
  height: var(--conduction-component-ImageAndDetailsCard-block-height);
}

