.container > *:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-4xl);
}

.title > *:not(:first-child),
.process > *:not(:first-child),
.info > *:not(:first-child) {
  margin-block-end: var(--nlportal-space-block-4xl);
}

.container > .process > {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.downloadCard:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-xl);
}
