.container {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
}

.context {
  display: flex;
  flex-direction: column;
}

.image > :first-child {
  padding-inline: var(--nlportal-space-inline-md);
  padding-block: var(--nlportal-space-block-md);
  width: var(--conduction-component-horizontal-image-card-icon-size);
  height: var(--conduction-component-horizontal-image-card-icon-size);
}

.title {
  font-size: var(--conduction-component-horizontal-image-card-font-size);
}
