.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--nlportal-document-border, 1px solid);
  width: var(--conduction-component-HorizontalImageCard-block);
}

.content {
  display: flex;
  align-items: center;
}

.content > *:not(:last-child) {
  margin-inline-end: var(--nlportal-space-inline-md);
}

.context {
  display: flex;
  flex-flow: column nowrap;
}

.image > :first-child {
  padding-inline: var(--nlportal-space-inline-md);
  padding-block: var(--nlportal-space-block-md);
  width: var(--conduction-component-HorizontalImageCard-icon-size);
  height: var(--conduction-component-HorizontalImageCard-icon-size);
}

.title {
  font-size: var(--conduction-component-HorizontalImageCard-font-size);
}
