.card {
  background-color: var(--nlportal-header-border-color);
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.title > h2 {
  margin-block-start: var(--nlportal-space-block-4xl);
  margin-block-end: var(--nlportal-space-block-2xl);
}
.image > img {
  max-width: 450px;
  height: auto;
}
.date {
  font-size: medium;
}
