.MetaIconGridTemplate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.MetaIconGridTemplate > .MetaIconGridTemplate-metaIconBlock {
  display: flex;
  justify-content: space-around;
}

.MetaIconGridTemplate
  > .MetaIconGridTemplate-metaIconBlock
  > .MetaIconGridTemplate-divider--hidden {
  visibility: hidden;
}
