.ul {
  display: flex;
}

.ul > * {
  flex: 1;
}

.li {
  list-style-type: none;
  padding-top: var(--conduction-navbar-padding);
  padding-bottom: var(--conduction-navbar-padding);
}

.li > * {
  text-decoration: none;
  color: white;
}

.primary {
  font-weight: bold;
}
