.ul {
  display: flex;
}

.ul > * {
  flex: 1;
}

.li {
  list-style-type: none;
  padding-block-start: var(--conduction-navbar-padding);
  padding-block-end: var(--conduction-navbar-padding);
}

.li > * {
  text-decoration: none;
  color: var(--conduction-navbar-color);
}

.primary {
  font-weight: bold;
}
