.container {
  display: flex;
  flex-direction: column;
}

.container > *:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-4xl);
}

.container > .cases > *:not(:last-child),
.container > .messages > *:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-xl);
}

.container > .cases > .casesHeading,
.container > .messages > .messagesHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
