.AuthenticatedFooterTemplate {
  position: relative;
  background-color: var(--nlportal-footer-background-color);
}

.UnauthenticatedFooterTemplate {
  background-color: var(--condution-footer-secondary-background-color);
  height: var(--condution-footer-height);
}

.AuthenticatedFooterTemplate .Footer-inner {
  display: flex;
  padding-block-start: var(--nlportal-space-block-2xl);
  padding-block-end: var(--nlportal-space-block-2xl);
}

.AuthenticatedFooterTemplate .Footer-inner > *:not(:last-child) {
  margin-inline-end: var(--denhaag-space-inline-5xl);
  color: var(--utrecht-heading-4-color);
}

.AuthenticatedFooterTemplate .Footer-inner .denhaag-list__subheader {
  color: var(--nlportal-footer-header-color);
}

.AuthenticatedFooterTemplate .Footer-inner .denhaag-list__item-text-primary,
.AuthenticatedFooterTemplate .Footer-inner .denhaag-list__secondary-action {
  color: var(--nlportal-footer-link-color);
}

.Footer > .Footer-divider {
  height: var(--nlportal-header-facet-height);
}
