.denhaag-pagination {
  display: flex;
  justify-content: center;
  padding: var(--nlportal-space-inline-md);
}

.denhaag-pagination__link {
  padding-right: var(--nlportal-space-inline-md);
  text-decoration: none;
}

.denhaag-pagination__link--current {
font-weight: bold;
}
